body, html {
    height: 100%;
    margin: 0;
    font-family: 'Wire One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.typewriter-container {
    text-align: center;
    overflow: hidden;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#text-container {
    font-family: 'Wire One', sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 0.5;
}

#text-container span {
    display: block;
}


.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}

.footer {
    background-color: black;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.socials a {
    color: rgba(255, 255, 255, 0.3);
    font-size: 40px;
    transition: color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.socials a:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: none;
}

#copyright {
    padding: 5px;
    margin-bottom: 10px;
    align-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Wire One', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Navigation Container */
.nav-container {
    position: relative; /* Nötig für die absolute Positionierung von .navitems */
    width: 100%;
}

/* Rechte Navigation (Menü) */
.navitems {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    background: rgba(0, 0, 0, 0.50);
    padding: 10px;
}

.navitems div {
    display: flex;
    flex-direction: row; /* Stapelt die Links vertikal */
    gap: 15px; /* Abstand zwischen den Elementen */
}

.navitems a {
    color: #FFF;
    font-family: 'Wire One', sans-serif;
    font-size: 32px;
    text-decoration: none;
}

/* Linke Navigation (Home-Icon) */
.navitems-left {
    position: absolute;
    top: 5%;
    left: 5%;
    background: rgba(0, 0, 0, 0.50);
    padding: 10px;
}

.navitems-left a {
    color: #FFF;
    font-size: 32px;
    text-decoration: none;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-feed {
    position: fixed;
    bottom: calc(5% + 150px); /* Abstand zum Footer */
    right: 5%; /* Abstand zum rechten Rand */
    background: rgba(83, 152, 255, 0.50);
    padding: 10px; /* Mehr Platz um den Text */
    width: 400px; /* Feste Breite */
    height: 200px; /* Feste Höhe */
    font-family: 'Wire One', sans-serif;
    font-size: 30px; /* Kleinere Schriftgröße */
    color: white;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Falls der Text zu lang ist, wird er gescrollt */
}

.news-feed h3 {
    margin: 0 0 10px;
    font-size: 35px; /* Größere Schrift für die Überschrift */
    color: #fff;
    padding-bottom: 5px;
}

.news-feed p {
    padding: 20px;
    margin: 0 0 10px;
    color: #fff;
}

.news-feed .line {
    width: 40px; /* Breite des Strichs */
    height: 8px; /* Höhe des Strichs */
    background-color: #fff; /* Weiße Farbe für den Strich */
    position: absolute;
    left: 0; /* Strich am ganz linken Rand */
    top: 45px; /* Position des Strichs, etwas unterhalb der Überschrift */
    margin-top: 10px; /* Abstand zum oberen Rand */
    margin-bottom: 10px; /* Abstand zum unteren Rand */
}
